/.github           export-ignore
/tests             export-ignore
/.gitattributes    export-ignore
/.gitignore        export-ignore
/dev-notes.md      export-ignore
/phpcs.xml         export-ignore
/phpstan.dist.neon export-ignore
/phpunit.xml       export-ignore
/rector.php        export-ignore

*.php diff=php
